.like:hover + .likeCircle {
  position: absolute;
  width: 29px;
  height: 29px;
  top: -4px;
  left: -4.5px;
  background: #F6198018;
  border-radius: 50%;
  color: #F6198077;
  z-index: -1;
}

.like:hover ~ .postLikeCounter {
  color: #F61980aa;
}
.postLikeCounter {
  color: #778
}
