$easeInOutQuart: cubic-bezier(0.77, 0.2, 0.05, 1);
$easeInBack: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

.Btn{
  position: relative;
}

.Btn-Text{
  width: 100%;
  height: 100%;
  z-index: 10;
  &:hover {
    color: #112;
    &:after {
      width: 100%;
      animation: rounded 0.7s ease-out;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    width: 0;
    display: block;
    background: #99f;
    z-index: -1;
    transition: 0.5s;
  }
}

@keyframes rounded 
{
  0% {
  }
  100% {
  }
}

@keyframes rounded-reverse 
{
  0% {
  }
  7% {
    background: transparent;
    background: #778;
  }
  100% {
    background: transparent;
  }
}
