@import url('http://fonts.googleapis.com/earlyaccess/notosansjp.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url("https://www.dafontfree.net/embed/YWxsaWFuY2UtYmxhY2smZGF0YS8zOS9hLzExMDg3My9hbGxpYW5jZWJsYWNrLnR0Zg");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  color: #f0f0f8;
  background-color: #202023;
}

input {
  color: #000;
}

.Btn{
  position: relative;
}

.Btn-Text{
  width: 100%;
  height: 100%;
  z-index: 10;
}

.Btn-Text:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  width: 0;
  display: block;
  background: #101010f0;
  z-index: -1;
  transition: 0.05s;
}


.Btn-Text:hover{
  color: #fff;
}


.Btn-Text:hover:after{
  width: 100%;
  animation: rounded 0.5s;
}
 

@keyframes rounded 
{
  0% {
  border-radius: 20px;
  }
  100% {
  border-radius: 0px;
  }
}

@keyframes rounded-reverse 
{
  0% {
  border-radius: 20px;
  background: #333;
  }
  70% {
  background: transparent;
  }
  100% {
  border-radius: 20px;
  background: transparent;
  }
}
