@import url('http://fonts.googleapis.com/earlyaccess/notosansjp.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://www.dafontfree.net/embed/YWxsaWFuY2UtYmxhY2smZGF0YS8zOS9hLzExMDg3My9hbGxpYW5jZWJsYWNrLnR0Zg');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/_sidebarButton';
@import './styles/_topbarIcon';
@import './styles/_shareButton';
@import './styles/_rightbarCard';
@import './styles/_likeCircle';

body {
  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  // font-family: 'noto sans jp', sans-serif;
  color: #f0f0f8;
  background-color: #202023;
  overflow-x: hidden;
}

input {
  color: #000;
}

